.sidebar {
    min-width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
}

.sidebar__logo {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__logo > img {
    height: 45px;
}

.sidebar__logo__title {
    margin:0 0 0 15px !important;
}

.sidebar__logo__title a{
   color: var(--main-color) !important;
}