.search-crypto {
    margin: 20px auto 30px auto;
    width: 250px;
}

.crypto-card-container {
    min-height: 65vh !important;
}

.crypto-card {
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease 0s;
}

.crypto-card .crypto-image {
    width: 30%;
    height: 100%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;    
    width:35px;
}

.crypto-card::before {
    content: "";
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
        to top right,
        var(--main-color),
        var(--second-color)
    );
    position: absolute;
    left: -50%;
    top: 0;
    transform: scale(0);
    transition: transform 0.8s ease 0s;
}

.crypto-card:hover::before {
    transform: scale(3);
}

.crypto-card:hover {
    color: var(--txt-white);
}

.ant-card {
    box-shadow: var(--box-shadow) !important;
    border-radius: var(--border-radius) !important;
    color: var(--txt-white) !important;
    background-color: var(--main-bg) !important;
    border-color: var(--main-bg) !important;
    height: 100%;
}

.ant-card-head {
    color: var(--txt-white) !important;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.ant-card-body {
    flex-grow: 1;
    text-align: center;
    z-index: 1;
    text-transform: capitalize;
}