.ant-card {
    border: none !important;
}

.ant-card-head {
    height: 30% !important;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--main-color) !important;
    border-bottom: 1px solid var(--second-color) !important;
}

.ant-card-body {
    flex-grow: 1;
    text-align: center;
    z-index: 1;
    text-transform: capitalize;
}

.crypto-card-container {
    min-height: 65vh !important;
}

.crypto-card {
    background-color: var(--main-bg) !important;
    box-shadow: var(--box-shadow) !important;
    border-radius: var(--border-radius) !important;
    position: relative !important;
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease 0s !important;
}

.crypto-card .crypto-image {
    width: 30%;
    height: 100%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;    
    width:35px;
}

.crypto-card::before {
    content: "";
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
        to top right,
        var(--main-color),
        var(--second-color)
    );
    position: absolute;
    left: -50%;
    top: 0;
    transform: scale(0);
    transition: transform 0.8s ease 0s;
    opacity: 0.1 !important;
}

.crypto-card:hover::before {
    transform: scale(3);
    opacity: 0.1 !important;
}

.crypto-card:hover {
    color: var(--second-color);
}

.search-crypto {
    width: 250px;
    margin: 20px auto 30px auto;
    position: relative;
    height: 50px;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.search-crypto > input {
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px 60px 10px 20px;
    font-size: 1rem;
    border-radius: var(--border-radius);
    color: var(--txt-color);
    background-color: var(--main-bg);
}

.search-crypto > i {
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
}